.containerOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #f0f4c3;
  gap: 12px;
}

.containerInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 2.5rem;
  background-color: #e6ee9c;
  border: 2px solid #afb42b;
  border-radius: 25px;
}

.containerInner button {
  font-size: 32px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: none;
  background-color: #afb42b;
}

.containerInner button:hover {
  background-color: #9e9d24;
}
